@media only screen and (max-width: 1024px) {
    .what_we_do .d_flex{
        justify-content: center;
    }
    .clients_list{
        margin: 0 15px;
    }
}
@media only screen and (max-width: 834px){
    header nav ul li {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 768px){
    header nav ul li {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 428px){
    header nav ul {
        display: contents;
    }
    header nav ul li {
        margin-bottom: 10px;}
    header nav ul li:nth-child(4) {
        margin-bottom: 20px;
    }
    .main_banner .container {
        margin: 0 10px;
    }
    .clients_list{
        flex-wrap:wrap;
    }
}
@media only screen and (max-width: 414px){
    .what_we_do h3 {
        margin: 0 15px 20px 15px;
    }
}
@media only screen and (max-width: 412px){
    .clients_list {
        flex-direction: column;
    }
    .clients_list a {
        margin-bottom: 30px;
    }
    .clients_list a:first-of-type{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 360px){
    .information_block article{
        margin-left: 10px;
    }
    .monstera_example article{
        margin-left: 10px;
    }
    .star_fall_example article{
        margin-left: 10px;
    }
    .logo {
        rotate: 90deg;
    }
}
@media only screen and (max-width: 320px){
    header .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .widget_right_bottom {
        right: 5px;
        bottom: 20px;
    }
}
@media only screen and (max-width: 280px){
    header nav ul li:last-of-type a {
        font-size: 15px;
        padding: 5px 10px;
    }
    .widget_right_bottom li {
        font-size: 10px;
        margin-left: 10px;
    }
    .help_main {
        font-size: 30px;
    }
}
